.image-container-content {
  background: rgba(27, 27, 27, 1);
}
.image-container {
  max-width: 1152px;
  margin: 0 auto;
}
.img3 {
  padding-top: 170px;
}
.container-food {
  background: rgba(34, 34, 34, 0.4) rgba(0, 0, 0, 1) rgba(34, 34, 34, 1)
    rgba(51, 51, 51, 1) rgba(107, 107, 107, 1) rgba(168, 168, 168, 1)
    rgba(211, 211, 211, 1) rgba(214, 214, 214, 1) rgba(253, 11, 125, 1);
}

.promo {
  color: rgba(255, 255, 255, 1);
  font-family: Gothic A1;
  font-size: 30px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0%;
  text-align: left;
}

.img3 img {
  width: 100%;
  height: auto;
  display: block;
}

.food {
  position: relative;
  max-width: 1152px;
  padding: 0px 15px;
  margin: 0 auto;
  box-sizing: content-box;
}

.food-text {
  color: rgba(0, 0, 0, 1);
  font-family: Gothic A1;
  font-size: 38px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.Lorem-text {
  color: rgba(107, 107, 107, 1);
  font-family: Gothic A1;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
}

.food-heading-content {
  display: flex;
  align-items: center;
  padding-top: 80.5px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.food-heading {
  margin-top: 10px;
  width:272px;
}
.food1-img {
  max-width: 100%;
  height: auto;
  display: block;
}

.food-heading2 {
  padding-top: 20px;
  max-width: 320px;
  text-align: center;
  margin: 30px;
  margin-bottom: 0;
  margin-top: 0;
}

.food2-text {
  margin-top: 40px;
  margin-bottom: 17px;
  color: rgba(0, 0, 0, 1);
  font-family: Gothic A1;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
}
.food-heading-content2 {
  display: flex;
  align-items: center;
  padding-top: 70.5px;
  justify-content: center;
  flex-wrap: wrap;
}

.food-heading-content3 {
  max-width: 1152px;
  display: flex;
  padding-top: 160px;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
}
.text-under-numbers {
  color: rgba(0, 0, 0, 1);

  font-family: Gothic A1;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 20px;
}
.num {
  color: rgba(51, 51, 51, 1);
  font-family: Gothic A1;
  font-size: 59px;
  font-weight: 400;
  line-height: 90px;
  letter-spacing: 0%;
  text-align: center;
}
.numbers-and-words {
  padding-bottom: 40px;
}

.slider-container {
  width: 90%;
  max-width: 670px; /* Максимальная ширина остается */
  margin: 0 auto;
  overflow: hidden;
}

.slider-wrapper {
  text-align: center;
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  margin-top: 4em; /* Задаем отступ в em, чтобы он масштабировался относительно шрифта */
  max-width: 100%; /* Важно, чтобы слайд не выходил за контейнер */
  flex-shrink: 0;
  padding: 1.25em;
  color: rgba(107, 107, 107, 1);
  font-family: Gothic A1;
  font-size: clamp(1em, 2vw, 1.5em);
  font-weight: 400;
  line-height: 1.666em;
  letter-spacing: 0%;
  text-align: center;
}

.navigation {
  text-align: center;
  margin-top: 4.85em;
}

.navigation button {
  margin: 0 0.3125em;
  cursor: pointer;
  background: rgba(34, 34, 34, 1);
  width: 7px;
  height: 7px;
  padding: 0;
  overflow: hidden;
}

.under-main-text1 {
  color: rgba(107, 107, 107, 1);
  padding-right: 25px;
  font-family: Gothic A1;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
}

.slide-text {
  display: flex;
  justify-content: center;
  padding-top: 1.0625em;
}

.under-main-text2 {
  color: rgba(107, 107, 107, 1);

  font-family: Gothic A1;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  padding-left: 25px;
}

.slide-main-text {
  margin-top: 3.9375em;
}

.under-navigation {
  max-width: 1152px;
  margin: 0 auto;
  padding-top: 160px;
}
.under-navigation-img1 {
  margin-bottom: 100px;
  width: 100%;
  height: auto;
  display: block;
}
.under-navigation-img2 {
  width: 100%;
  height: auto;
  display: block;
}
.vector-container {
  background: linear-gradient(276.18deg, #6e28b1 0%, rgba(0, 0, 0, 0) 100%),
    #fc0a7e;
}
.vector p {
  padding-top: 125px;
  color: rgba(255, 255, 255, 1);
  font-family: Gothic A1;
  font-size: 38px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
  padding-bottom: 40px;
}
.vector-button {
  text-align: center;
  padding-bottom: 116px;
}
.vector-button1 {
  padding: 15px 35px;
  outline: none;
  border: none;
  background-color: rgba(252, 10, 126, 1);
  color: rgba(255, 255, 255, 1);
  font-family: Gothic A1;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  cursor: pointer;
}
.vector-button2 {
  padding: 15px 35px;
  outline: none;
  box-sizing: border-box;
  background-color: rgba(252, 10, 126, 1);
  color: rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
  font-family: Gothic A1;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  cursor: pointer;
}
.vector-button1:hover,
.vector-button2:hover {
  background-color: transparent;
  box-sizing: border-box;
  border: 1px solid rgba(176, 75, 179, 1);
}
.footer-container {
  position: relative;
  background: rgba(27, 27, 27, 1);
}
.footer-text {
  padding-top: 89px;
}
.footer-text h2 {
  color: rgba(255, 255, 255, 1);
max-width: 100%;
  font-family: Gothic A1;
  font-size: 38px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
}
.footer-container {
  background: rgba(27, 27, 27, 1);
}
.footer-text p {
  color: rgba(107, 107, 107, 1);
 max-width: 100%;
  font-family: Gothic A1;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 40px;
}
.footer-form{
  
  padding-top: 40px;
  text-align: center;
    font-size: 0; /* Убрать пробелы между inline элементами */
}
.footer-form input{
  padding: 15px 45px;
color: rgba(28, 28, 28, 1);
border-radius: 3px 0px 0px 3px;
box-shadow: 0px 0px 0px 0px rgba(252, 10, 126, 1);
background: rgba(255, 255, 255, 1);
font-family: Gothic A1;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
 border: none;
  outline: none;

}
.footer-form button{
  padding: 15px 45px;
  color: rgba(28, 28, 28, 1);
border-radius: 0px 3px 3px 0px;
background: rgba(252, 10, 126, 1);
font-family: Gothic A1;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
}
.footer-img{
  padding-top: 70.63px;
  text-align: center;
}
.footer-img-text ul{
  display: flex;
  justify-content: center;
  gap: 30px;

}
.footer-img-text ul li{
  margin-top: 29px;
 color: rgba(107, 107, 107, 1);
font-family: Gothic A1;
font-size: 11px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: center;
  margin-bottom: 40px;

}
